--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu
torchvision==0.21.0+cpu

fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic
pydantic-settings
python-dotenv
pydantic[email]
passlib[bcrypt]
pyJWT
python-multipart
celery
redis
uvicorn[standard]
requests
grpcio
grpcio-tools